{% extends "Database_Manager/base.html" %}

{% block title %}
        New Sale
{% endblock title %}

{% block content %}
    <h1>Blizzard Blast's Sale List</h1>
    <br/>
        <h2>New Milkshake</h2>
    <br/>
    

    <form method=POST>
        {% csrf_token %}
        <h2>Milkshake Field</h2>
        {{ formMilkshake.as_p }}

        <br/>
        <a href="{% url 'sales_list' %}" class="btn btn-secondary">Go Back</a>
        <input type="submit" class="btn btn-success">
    </form>

    
{% endblock content %}