{% extends "Database_Manager/base.html" %}

{% block title %}
    Recipes
{% endblock title %}

{% block content %}
  <h1>Blizzard Blast's Recipes</h1>
  
  {% for recipe in recipe %}
    <table class="table"> 
      <thead>
        <th scope="col">{{ recipe.recipe_name }}</td>
      </thead>

      <thead>
          <th scope="col">Ingredient</th>
          {% for recipe_size in recipe_size %}
          <th scope="col">{{ recipe_size.recipe_size }}</th>
          {% endfor %}
      </thead>

      <tbody>
        <tr><td>{{ servingsA }}</td></tr>
        {% for servingsA in servingsA %}
          {% if servings.recipe_name == recipe %}

                <tr>
                  <td>{{ servingsA }}</td>
                  <td>{{ servings.servings }}</td>
                </tr>

          {% endif %}
        {% endfor %}
      </tbody>

    </table> 
  {% endfor %}

{% endblock content %}