{% extends "Database_Manager/base.html" %}

{% block title %}
    Sales List
{% endblock title %}

{% block content %}
    <h1>Blizzard Blast's Past Sales</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Txn</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Day</th>
            <th scope="col">Week</th>
          </tr>
        </thead>
        <tbody>
          {% for sale in sale %}
            <tr>
              <th scope="row">{{ sale.txn }}</th>
              <td>{{ sale.customer_name }}</td>
              <td>{{ sale.day_date }}</td>
              <td>{{ sale.week_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock content %}