{% extends "Database_Manager/base.html" %}

{% block title %}
    Sales List
{% endblock title %}

{% block content %}
    <h1>Blizzard Blast's Past Sales</h1>
    <a href="{% url 'sale_milkshake' %}" class="btn btn-primary">New Milkshake</a>
    <a href="{% url 'sale_customization' %}" class="btn btn-warning">New Customization</a>
    <a href="{% url 'sale_sale' %}" class="btn btn-info">New Sale</a>
    <a href="{% url 'sale_orders' %}" class="btn btn-success">New Order</a>
    <br/>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Txn</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Day</th>
            <th scope="col">Week</th>
          </tr>
        </thead>
        <tbody>
          {% for sale in sale %}
            <tr>
              <th scope="row"><a href="{{ sale.txn }}">{{ sale.txn }}</a></th>
              <td>{{ sale.customer_name }}</td>
              <td>{{ sale.day_date }}</td>
              <td>{{ sale.week_date.week_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock content %}