{% extends "Database_Manager/base.html" %}

{% block title %}
    Sale No. {{ sale.txn }}
{% endblock title %}

{% block content %}
    <h1>Transaction No. {{ sale.pk }}</h1> <br>
    <button type="button" onclick="window.location.href='/sales_list';" class="btn btn-warning">Back</button><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Txn</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{ sale.customer_name }}</td>
              <td>{{ sale.txn }}</td>
              <td>{{ sale.day_date }}</td>
            </tr>
        </tbody>
      </table>

    <table class="table">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Subtotal</th>
      </tr>
      {% for orders in orders %}
        {% if orders.txn == sale %}
          <tr>
            <td>{{ orders.milkshake.recipe_size }} {{ orders.milkshake.recipe_name }}</td>
            <td></td>
            <td>
              {% for recipe_price in recipe_price %}
                {% if orders.milkshake.recipe_size == recipe_price.recipe_size and orders.milkshake.recipe_name == recipe_price.recipe_name %}
                  {{ recipe_price.price }}
                {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% for customization in customization %}
            {% if customization.milkshake_id == orders.milkshake_id %}
              <tr>
                <td>{{ customization.ingredient_quantity }} {{ customization.ingredient_name }}</td>
                <td>{{ customization.price_delta }}</td>
                <td></td>
              </tr>
            {% endif %}
          {% endfor %}
        {%  endif %}
      {% endfor %}
      <tr>
        <td></td>
        <td><b>Total</b></td>
        <td><b>
          {% for total in total %}
            {% if total.txn == sale %}
              {{ total.total }}
            {% endif %}
          {% endfor %}
        </b></td>
      </tr>
    </table>
{% endblock content %}
